﻿
@{
    ViewBag.Title = "Person";
}

<h2>Person</h2>
<div>
    <div>FirstName : <span id="FName1" name="FName2"></span></div>
    <div>LastName : <span id="LName1" name="LName2"></span></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var FName,LName;
        var options = {
            type: "POST",
            url: 'GetData',
            //data: '{param1:"' + $('#txtname').val() + '",param2:"' + $('#txtage').val() + '"}',
            //data: '{param1:"Joko",param2:"35"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            FName = response.FirstName;
                            LName = response.LastName;
                        }
                    }
                } else {
                    alert("Something went wrong");
                }
                $("#FName1").html(FName);
                $("#LName1").html(LName);
                setInterval(function () {load()}, 5000);
            }
        };
        $.ajax(options);
    });

    function load() {
        var FName, LName;
        var options = {
            type: "POST",
            url: 'GetData',
            //data: '{param1:"' + $('#txtname').val() + '",param2:"' + $('#txtage').val() + '"}',
            //data: '{param1:"Joko",param2:"35"}',
            async: false,
            cache: false,
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                if (response != null) {
                    for (key in response) {
                        if (response.hasOwnProperty(key)) {
                            FName = response.FirstName;
                            LName = response.LastName;
                        }
                    }
                } else {
                    alert("Something went wrong");
                }
                $("#FName1").html(FName);
                $("#LName1").html(LName);
                setInterval(function () { load() }, 5000);
            }
        };
        $.ajax(options);
    }
</script>

